$primary-color: #FFD700;
$dark-color: #202020;



header{

    nav{
        display: flex;
        margin-block:18px;
        align-items: center;
        justify-content: space-between;
        position: relative;

        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;


            @media (max-width:1200px) {
               position: fixed; 
               right: 0;
               top: 0;
               height: 100%;
               width: 0;
               background-color: $dark-color;
               flex-direction: column;
               gap: 50px;
               color: white;
               justify-content: center;
               transition: .4s ease-in-out;
               align-items: center;


               &.responsive{
               width: 250px;


               }

            }

            a{
                font-weight: 600;
            }

        }
        .logo{
            display: flex;
            gap: 9px;
            align-items: center;
            span{
                @media (min-width:1200px) {
                    svg{
                        display: none;
                        font-size: 12px;
                    }
                }
            }
            h2{
                font-weight: 900px;
                font-size: 32px;
                color: black;
                @media (max-width:800px) {
                font-size: 20px;

                }
            }

        }
        .right-section{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 26px;

            a.user{
                @media (min-width:800px) {    
                    display: none;
                    }
            }

            button{
                @media (max-width:800px) {    
                    display: none;
                    }
            }


        }
    }
}